.cart-no{
    position: absolute;
    min-height: 25px;
    max-width: 25px;
    border-radius: 60%;
    font-size: 1em;
    background: green;
    color: white;
    text-align: center;
    top: -15px;
    right: 45px;
}

a{
    text-decoration: none;
    color: #343a40;

    &.active{
        color: forestgreen;
    }
}
.logo{
    cursor: pointer;

    &:focus {
        outline: none;
    }
}